---
---

$header-font: "Baloo Tamma";
$body-font: "Oxygen";
// $header-color: #39d8d8;
$bg-pink: #ffebef;
$header-color: #10acf4;
$cerulean: #73b6fb;

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font, sans-serif;
}

h1 {
	font-size: 3.6em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.3em;
}

h3, h4 {
	margin-bottom: 0.3em;
	margin-top: 1.6em;
}
h1, h2, h3 {
	color: $header-color;
}

p, div, ol, ul, blockquote {
	font-family: $body-font;
}

a, a:hover, a:visited {
	color: #aa71c1;
	// color: $cerulean;
	text-decoration: underline;
}

a:hover {
	color: #6e7fbd;
	text-decoration: none;
}

.schedule { 
	h2 {
		line-height: 1;
		margin-bottom: 0;
		margin-top: 1.4em;
	}
	h3 {
		color: #6a9cbf;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.page-content {
	line-height: 1.7;
	padding: 0;
}

.section-wrap {
	margin: auto;
}

.page-home {
	// background-blend-mode: multiply;
	background-color: $bg-pink;
	// background-image: url("img/bg-min.jpg");
	// background-image: url("img/nseme-thingie.png");
	// background-color: #ca7c8d;
	// background-color: #9edefd;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 70%;
	display: flex;
	height: 100vh;
	// padding: 0;
	// text-align: center;
	width: 100%;

	.wrapper {
		margin: auto;
	}
}

.home {
	margin: auto;
	margin-top: -10%;
	position: relative;
	text-align: center;

	h1 {
		font-family: "Baloo Tamma", sans-serif;
		font-size: 3.6em;
		text-align: center;
		display: none;
	}

	h2 {
		color: black;
		// font-family: $body-font;
		// font-weight: 700;
		margin-top: 1.5em;
		margin-bottom: 0;
		line-height: 1;
	}

	h3 {
		color: #10acf4;
		margin-top: 0;
	}

	.inner-wrap, h1, h3, p {
		// color: white;
		position: relative;
		z-index: 1;
	}

	p:not(.logo-container) {
		margin: 0 auto;
		margin-top: 2%;
		width: 75%;
	}
	p.logo-container {
		// background-image: url("img/nseme-thingie.png");
		background-size: cover;
		margin-left: -4%;
		// width: 100%;
	}
}

// .home::before, .home::after {
// 	border-radius: 26px;
// 	content: "";
// 	display: block;
// 	position: absolute;
// 	transform: rotate(-10deg) skewY(5deg) skewX(18deg);
// 	z-index: 0;
// }

.home::before {
	border: 19px solid rgba(89, 202, 197, 0.52);
	// border-right-width: 22px;
	// border-bottom-width: 12px;
	top: 20px; bottom: -40px; right: 20px; left: 30px;
}

.home::after {
	border: 19px solid rgba(75, 118, 171, 0.7098039216);
	// border-left-width: 14px;
	// border-top-width: 15px;
	top: -6px; bottom: -10px; right: 83px; left: -33px;
}

.inner:not(.home) {
	padding-bottom: 4em;
	padding-top: 4em;
}

.page-call, .page-schedule {
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.page-staff {
	background-color: #a3d7d8;

	.inner:not(.home) h1 {
		color: white;
	}
}

.page-archive {
	background-color: #eaeaea;
}

.page-keynote {
	background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
	border-top: 65px solid #ecffff;
	// background-color: #8c8c8c;

	.wrapper {
		max-width: calc(900px - (30px * 2));
	}
	.inner {
		// align-items: left;
		display: flex;
		flex-wrap: wrap;
	}
	p.keynote-img-container {
		// float: left;
		flex: 1;
		margin: 0.4em 2.5em 2em 0;
		// width: 41%;
	}
	.artist-bio {
		flex: 1.8;
		// width: 55%;
	}
	h1 {
		// color: #e4dd00;
		// color: #73b6fb;
		// color: #21a851;
		flex: 0 0 100%;
		width: 100%;
	}
	.artist-name {
		font-weight: bold;
	}
	a, a:hover, a:visited {
		// color: #7be09f;
		// color: whitesmoke;
	}
}

@media(max-width: 750px) {
	.page-keynote {
		.artist-bio, p.keynote-img-container {
			flex: 0 0 100%;
		}
	}
}

.caption {
	display: block;
	font-size: 0.9em;
	font-style: italic;
	margin-right: 0.4em;
	margin-top: 1.2em;
	opacity: 0.8;
	text-align: right;
}

.page-prog-link {
	background-color: #b2e0f5;
	h1 {
		display: none;
	}
	h2 {
		text-align: center;
	}
}

.program h4 {
	line-height: 1;
	margin-bottom: 0;
}

.program h4:not(:first-of-type) {
	margin-top: 2.5em;
}

.program h2 {
	border-bottom: 5px solid $cerulean;
	color: black;
	margin-top: 2em;
	margin-left: -999px;
	padding-left: 999px;
	position: relative;
}

.program a[href="#to_top"] {
	float: right;
	margin-bottom: 2em;
	margin-left: 1em;
}

.program h1:first-of-type {
	display: none;
}

.about {
	border-top: 5px solid #e0e0e0;
}
// .program h2::before {
// 	// color: #75d4d4;
// 	content: ">";
// 	position: absolute;
// 	margin-left: -2em;
// 	// margin-right: 2em;
// }


