---
---

.page-home {
	background-image: url("img/bg-min.jpeg");
	background-position: center;
	background-size: cover;
	display: flex;
	height: 100vh;
	padding: 0;
	width: 100%;

	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

	.wrapper {
		margin: auto;
	}
}

.home {
	color: white;
	margin: auto;

	h1 {
		font-family: "Baloo Tamma", sans-serif;
		font-size: 3.6em;
		text-align: center;

	}
}