<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="page-content" aria-label="Content">
      {% for feature in site.features %}
        <section class="section-wrap page-{{ feature.slug | slugify }}">
          <div class="wrapper">
            <div class="{{ feature.slug | slugify}} inner">
              <h1>{{ feature.title }}</h1>
              {{ feature.content }}
            </div>
          </div>
        </section>
      {% endfor %}
    </main>
  </body>

</html>
